<ng-container>
  <h1>I am the {{ trackType }} entity content</h1>

  <div class="flex-container">
    <div>
      <ng-container *ngIf="sideNavOptions">
        <ng-template *ngComponentOutlet="
          ENTITY_SUBMENU;
          inputs: {
            sideNavOptions: sideNavOptions,
            title: trackType,
          };
        " />
      </ng-container>
      <div
        *ngIf="filters"
        class="filters"
      >
        <ng-template *ngComponentOutlet="
          ENTITY_FILTERS;
          inputs: {
            filters: filters(),
            title: entityType,
          };
          " />
      </div>
    </div>
    <div>
      <app-entity-right-side/>
    </div>
  </div>






</ng-container>

