<ng-container>
  <h1>I am the entity content</h1>
  <ng-container *ngIf="components['sideNav']">
    <ng-template *ngComponentOutlet="
      ENTITY_SUBMENU;
      inputs: components['sideNav']()?.inputs;
    " />
  </ng-container>
  <ng-container *ngIf="components['filters']">
    <ng-template *ngComponentOutlet="
    ENTITY_FILTERS;
    inputs: components['filters']()?.inputs;
    " />
  </ng-container>
  <ng-container *ngIf="components['banner']">
    <ng-template *ngComponentOutlet="
      ENTITY_BANNER;
      inputs: components['banner']().inputs;
    " />
  </ng-container>
  <ng-container *ngIf="components['table']">

  <ng-template *ngComponentOutlet="
    ENTITY_TABLE;
    inputs: components['table']()?.inputs;
  " />
  </ng-container>
</ng-container>
